#banner_container {
	vertical-align: middle;
	position: relative;
	height: 80px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;	
	color: #EEEEEF;
	background-color: #225180;
	background-image: url('banner_logo.jpg');
	background-repeat: no-repeat;
	background-position: 5px;
}
	
#banner_main {
	line-height: 80px;
	padding-left: 75px;
	}

#body {
	    font-family: Arial, Helvetica, sans-serif;	
	    font-size: 14px;
	}

#disclaimer{
	    font-family: Arial, Helvetica, sans-serif;	
	    font-size: 9px;
		color: #AAAAAA;
}

.x-btn .icon-instructions {
    background-image: url(./resources/help.png);
}

.x-btn .icon-report {
    background-image: url(./resources/table.png);
}


.bmenu {
    background-image: url(menu-show.gif) !important;
}
